@model LoginViewModel
@{
    ViewData[Constants.Title] = Miniblog.Core.Properties.Resources.Login;
    ViewData[Constants.Description] = Miniblog.Core.Properties.Resources.SignInToTheWebsite;
}

@section head {
    <link rel="stylesheet" href="~/css/login.scss" />
}

<form method="post" id="login" aria-labelledby="legend" asp-route-returnUrl="@ViewData[Constants.ReturnUrl]">
    <div asp-validation-summary="All"></div>
    <fieldset>
        <legend id="legend">登录</legend>

        <input asp-for="UserName" aria-label="用户名" autofocus required placeholder="用户名" />
        <input asp-for="Password" aria-label="密码" required placeholder="用户名" />

        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">记住密码</label>

        <input type="submit" value="登录" />
    </fieldset>
</form>
